$basicBlue: #546de5;
$basicBlueAlt:#778beb;

$basicBlueCuraco:#3dc1d3;
$basicBlueCuracoAlt:#63cdda;

$basicRose:#e66767;
$basicRoseAlt:#ea8685;

$basicDeeprose:#c44569;
$basicDeeproseAlt:#cf6a87;

$basicSummer:#f5cd79;
$basicSummerAlt:#f7d794;

