* {
    box-sizing: border-box;
}
.page {
    min-height: 100vh;
    .content-area {
        min-height: 100%;
        float: right;
        width: calc(100% - 250px);
        transition: .3s all ease-in-out;
        will-change: width;


    }
}